<?xml version="1.0" encoding="UTF-8"?>   
  <configuration scan="true" scanPeriod="60 seconds">
  	 <property name="LOG_HOME" value="/mcg/logs" />  
  	 
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%C:%L] - %m %n</pattern>
        </encoder>
     </appender>
  
    <appender name="FILE"  class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_HOME}/mcg.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
             <FileNamePattern>${LOG_HOME}/mcg.log.%d{yyyy-MM-dd}</FileNamePattern>
             <MaxHistory>15</MaxHistory>
        </rollingPolicy>   
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder" charset="UTF-8">
            <pattern>[%-5p] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%C:%L] - %m %n</pattern>
            <charset>UTF-8</charset>
        </encoder>

    </appender>

      <root level="debug">
       <appender-ref ref="console" />   
       <appender-ref ref="FILE"></appender-ref>
     </root>
  </configuration> 